# Read Output List Google Sheet
Output variables are requested in three categories (latter two for LES only):

(1) domain-wide quantities and statistics every 15 minutes \
(2) 2D quantities every hour \
(3) 3D variables at selected hours for comparison with satellite and ground-based observations

## Imports

In [1]:
import pandas as pd

## Read Data from Google Sheets
Here is a link to the document
- [Google Sheets Document](https://docs.google.com/spreadsheets/d/1Vl8jYGviet7EtXZuQiitrx4NSkV1x27aJAhxxjBb9zI/edit?usp=sharing)

## (1) Domain-Mean Variables

In [2]:
vars_mean_list = pd.read_excel('https://docs.google.com/spreadsheets/d/1Vl8jYGviet7EtXZuQiitrx4NSkV1x27aJAhxxjBb9zI/export?gid=0&format=xlsx',
                              sheet_name='Mean')
pd.set_option('display.max_colwidth', None)
vars_mean_list

,standard_name,variable id,units,dimensions,comment
0,time,time,s,self,"dimension, seconds since 2020-03-12 18:00:00"
1,height,zf,m,self,"dimension, altitude of mid-level points above sea surface"
2,air_pressure,pa,Pa,"time, height",–
3,air_volumic_mass,rho,kg m-3,"time, height",–
4,air_temperature,ta,K,"time, height",–
5,specific_humidity,qv,1,"time, height",–
6,total_water_content,qt,1,"time, height",specific mass
7,relative_humidity,hur,1,"time, height",relative to liquid
8,eastward_wind,ua,m s-1,"time, height",–
9,northward_wind,va,m s-1,"time, height",–
10,upward_air_velocity,wa,m s-1,"time, height",–
11,air_potential_temperature,theta,K,"time, height",–
12,specific_turbulent_kinetic_energy,tke,m2 s-2,"time, height",sum of resolved and SGS
13,surface_upward_sensible_heat_flux,hfss,W m-2,time,–
14,surface_upward_latent_heat_flux,hfls,W m-2,time,–
15,surface_pressure,ps,Pa,time,–
16,surface_temperature,ts,K,time,–
17,variance_of_upward_air_velocity,w2,m2 s-2,"time, height",–
18,mass_fraction_of_cloud_liquid_water_in_air,ql,1,"time, height",specific mass
19,mass_fraction_of_rain_water_in_air,qr,1,"time, height",specific mass
20,cloud_area_fraction_in_atmospheric_layer,cl,1,"time, height",liquid water threshold of 0.01 g/kg
21,cloud_area_fraction,clt,1,time,fraction of atmospheric columns with cloud optical thickness > 2
22,precipitation_flux_at_surface,pr,kg m-2 s-1,time,–
23,precipitation_flux_in_air,prf,kg m-2 s-1,"time, height",–
24,atmosphere_mass_content_of_cloud_water,cwp,kg m-2,time,scene; cloud water only
25,atmosphere_mass_content_of_liquid_water,lwp,kg m-2,time,scene; cloud and rain
26,atmosphere_mass_content_of_rain_water,rwp,kg m-2,time,scene
27,number_of_total_aerosol_in_air,nt,kg-1,"time, height",–
28,number_of_dry_aerosol_in_air,na,kg-1,"time, height",–
29,number_of_cloud_droplets_in_air,nc,kg-1,"time, height",–
30,number_of_rain_droplets_in_air,nr,kg-1,"time, height",–
31,effective_radius_of_cloud_droplets,cer,m,"time, height",–
32,longwave_heating_rate_in_air,rlh,W kg-1,"time, height",–
33,shortwave_heating_rate_in_air,rsh,W kg-1,"time, height",–
34,downwelling_longwave_flux_in_air,rld,W m-2,"time, height",–
35,upwelling_longwave_flux_in_air,rlu,W m-2,"time, height",–
36,downwelling_shortwave_flux_in_air,rsd,W m-2,"time, height",–
37,upwelling_shortwave_flux_in_air,rsu,W m-2,"time, height",–
38,toa_incoming_shortwave_flux,rsdt,W m-2,time,–
39,toa_outgoing_shortwave_flux,rsut,W m-2,time,–
40,toa_outgoing_longwave_flux,rlut,W m-2,time,–
41,surface_downwelling_longwave_flux,rlds,W m-2,time,–
42,surface_upwelling_longwave_flux,rlus,W m-2,time,–
43,surface_downwelling_shortwave_flux,rsds,W m-2,time,–
44,surface_upwelling_shortwave_flux,rsus,W m-2,time,–

## (2) Two-Dimensional Fields

In [3]:
vars_2d_list = pd.read_excel('https://docs.google.com/spreadsheets/d/1Vl8jYGviet7EtXZuQiitrx4NSkV1x27aJAhxxjBb9zI/export?gid=1756539842&format=xlsx',
                              sheet_name='2D')
pd.set_option('display.max_colwidth', None)
vars_2d_list

,standard_name,variable id,units,dimensions,comment
0,time,time,s,self,"dimension, seconds since 2020-03-12 18:00:00"
1,x,x,m,self,dimension
2,y,y,m,self,dimension
3,surface_upward_sensible_heat_flux,hfss,W m-2,"time, x, y",–
4,surface_upward_latent_heat_flux,hfls,W m-2,"time, x, y",–
5,atmospheric_water_vapor_content,prw,kg m-2,"time, x, y",–
6,surface_eastward_wind,us,m s-1,"time, x, y",–
7,surface_northward_wind,vs,m s-1,"time, x, y",–
8,inversion_height,zi,m,"time, x, y",–
9,precipitation_flux_at_surface,pr,kg m-2 s-1,"time, x, y",NaN
10,atmosphere_mass_content_of_cloud_water,cwp,kg m-2,"time, x, y",cloud water only
11,atmosphere_mass_content_of_liquid_water,lwp,kg m-2,"time, x, y",both cloud and rain water
12,atmosphere_mass_content_of_rain_water,rwp,kg m-2,"time, x, y",–
13,atmosphere_optical_thickness_due_to_cloud,optc,1,"time, x, y",–
14,atmosphere_optical_thickness_due_to_rain,optr,1,"time, x, y",–
15,cloud_top_altitude,zct,m,"time, x, y",altitude of highest cloudy grid cell
16,cloud_base_altitude,zcb,m,"time, x, y",altitude of lowest cloudy grid cell

## (3) Three-Dimensional Fields

In [4]:
vars_3d_list = pd.read_excel('https://docs.google.com/spreadsheets/d/1Vl8jYGviet7EtXZuQiitrx4NSkV1x27aJAhxxjBb9zI/export?gid=1233994833&format=xlsx',
                              sheet_name='3D')
pd.set_option('display.max_colwidth', None)
vars_3d_list

,standard_name,variable id,units,dimensions,comment
0,time,time,s,self,"dimension, seconds since 2020-03-12 18:00:00"
1,x,x,m,self,dimension
2,y,y,m,self,dimension
3,height,zf,m,self,"dimension, altitude of mid-level points above sea surface"
4,air_temperature,ta,K,"time, height, x, y",–
5,specific_humidity,qv,1,"time, height, x, y",–
6,eastward_wind,ua,m s-1,"time, height, x, y",–
7,northward_wind,va,m s-1,"time, height, x, y",–
8,upward_air_velocity,wa,m s-1,"time, height, x, y",–
9,mass_fraction_of_cloud_liquid_water_in_air,ql,1,"time, height, x, y",NaN
10,mass_fraction_of_rain_water_in_air,qr,1,"time, height, x, y",cloud water only
11,number_of_dry_aerosol_in_air,na,kg-1,"time, height, x, y",both cloud and rain water
12,number_of_cloud_droplets_in_air,nc,kg-1,"time, height, x, y",–
13,number_of_rain_droplets_in_air,nr,kg-1,"time, height, x, y",–