# Read Metadata Google Sheet

One of the key steps to planning a model intercomparison project (MIP) is determining which variables to save and their associated metadata (ex. units).

For this project, the standards are defined in a Google Spreadsheet. Let's read that in!

## Imports

In [1]:
import pandas as pd

## Read Data from Google Sheets
Here is a link to the document
- [Google Sheets Document](https://docs.google.com/spreadsheets/d/1pttSpPj9FtjnzqlzedQasRKQJKkzLMQZnZAlI-W54Dc/edit?usp=sharing)

In [2]:
stat_output = pd.read_excel('https://docs.google.com/spreadsheets/d/' + 
                            '1pttSpPj9FtjnzqlzedQasRKQJKkzLMQZnZAlI-W54Dc' +
                            '/export?gid=0&format=xlsx',
                            sheet_name='Statistical Output (15 min)')
stat_output

,standard_name,variable id,units,dimensions,comment,tier
0,Dimensions,NaN,NaN,NaN,NaN,NaN
1,time,time,seconds since 2017-08-14 00:00:00,self,calendar = Gregorian,1.0
2,height,zf,m,self,altitude of mid-level points above sea surface,1.0
3,Dynamics and thermodynamics,NaN,NaN,NaN,NaN,NaN
4,air_pressure,pa,Pa,"time, height",NaN,1.0
...,...,...,...,...,...,...
70,surface_upwelling_shortwave_flux,rsus,W m-2,time,NaN,2.0
71,surface_downwelling_longwave_flux_assuming_cle...,rldscs,W m-2,time,NaN,2.0
72,surface_upwelling_longwave_flux_assuming_clear...,rluscs,W m-2,time,NaN,2.0
73,surface_downwelling_shortwave_flux_assuming_cl...,rsdscs,W m-2,time,NaN,2.0
74,surface_upwelling_shortwave_flux_assuming_clea...,rsuscs,W m-2,time,NaN,2.0

### Clean the dataframe
Notice how some section names are included - we can clean this up by dropping rows that are missing `variable_id`s.

In [3]:
stat_output = stat_output.dropna(subset='variable id')
stat_output

,standard_name,variable id,units,dimensions,comment,tier
1,time,time,seconds since 2017-08-14 00:00:00,self,calendar = Gregorian,1.0
2,height,zf,m,self,altitude of mid-level points above sea surface,1.0
4,air_pressure,pa,Pa,"time, height",NaN,1.0
5,air_volumic_mass,rho,kg m-3,"time, height",NaN,2.0
6,air_temperature,ta,K,"time, height",NaN,1.0
...,...,...,...,...,...,...
70,surface_upwelling_shortwave_flux,rsus,W m-2,time,NaN,2.0
71,surface_downwelling_longwave_flux_assuming_cle...,rldscs,W m-2,time,NaN,2.0
72,surface_upwelling_longwave_flux_assuming_clear...,rluscs,W m-2,time,NaN,2.0
73,surface_downwelling_shortwave_flux_assuming_cl...,rsdscs,W m-2,time,NaN,2.0
74,surface_upwelling_shortwave_flux_assuming_clea...,rsuscs,W m-2,time,NaN,2.0

## View the entire table
We can only see the first few and last few values of the varibale table. We can add a simple setting change to view the entire table.

In [31]:
pd.set_option('display.max_rows', None)
stat_output

,standard_name,variable id,units,dimensions,comment,tier
1,time,time,seconds since 2017-08-14 00:00:00,self,calendar = Gregorian,1.0
2,height,zf,m,self,altitude of mid-level points above sea surface,1.0
4,air_pressure,pa,Pa,"time, height",NaN,1.0
5,air_volumic_mass,rho,kg m-3,"time, height",NaN,2.0
6,air_temperature,ta,K,"time, height",NaN,1.0
7,specific_humidity,qv,1,"time, height",NaN,1.0
8,total_water_content,qt,1,"time, height",specific mass,1.0
9,relative_humidity,hur,1,"time, height",relative to liquid,1.0
10,eastward_wind,ua,m s-1,"time, height",NaN,1.0
11,northward_wind,va,m s-1,"time, height",NaN,1.0
12,upward_air_velocity,wa,m s-1,"time, height",NaN,1.0
13,air_potential_temperature,theta,K,"time, height",NaN,1.0
14,air_liquid_potential_temperature,thetal,K,"time, height",NaN,1.0
15,specific_turbulent_kinetic_energy,tke,m2 s-2,"time, height",sum of resolved and SGS,1.0
16,surface_upward_sensible_heat_flux,hfss,W m-2,time,postive upward,1.0
17,surface_upward_latent_heat_flux,hfls,W m-2,time,postive upward,1.0
18,surface_pressure,ps,Pa,time,NaN,1.0
19,surface_temperature,ts,K,time,NaN,1.0
20,inversion_height,zi,m,time,mean of column values,1.0
21,variance_of_inversion_height,zivar,m2,time,variance of column values,2.0
22,maximum_inversion_height,zimax,m,time,maximum column value,2.0
23,variance_of_upward_air_velocity,w2,m2 s-2,"time, height",NaN,1.0
24,variance_of_eastward_wind,u2,m2 s-2,"time, height",NaN,2.0
25,variance_of_northward_wind,v2,m2 s-2,"time, height",NaN,2.0
26,skewness_of_upward_air_velocity,wskew,1,"time, height",NaN,2.0
27,flux_of_total_water_content,wqt,m s-1,"time, height",NaN,2.0
28,flux_of_air_liquid_water_potential_temperature,wthl,K m s-2,"time, height",NaN,2.0
29,flux_of_eastward_momentum,wu,m2 s-2,"time, height",NaN,2.0
30,flux_of_northward_momentum,wv,m2 s-2,"time, height",NaN,2.0
31,atmosphere_convective_available_potential_energy,cape,J kg-1,time,NaN,2.0
33,mass_fraction_of_cloud_liquid_water_in_air,ql,1,"time, height",specific mass,1.0
34,mass_fraction_of_rain_water_in_air,qr,1,"time, height",specific mass,1.0
35,cloud_area_fraction_in_atmospheric_layer,cl,1,"time, height",liquid water threshold of 0.01 g/kg,1.0
36,cloud_area_fraction,clt,1,time,fraction of atmospheric columns with cloud opt...,1.0
37,precipitation_flux_at_surface,pr,kg m-2 s-1,time,NaN,1.0
38,precipitation_flux_in_air,prf,kg m-2 s-1,"time, height",NaN,2.0
39,atmosphere_mass_content_of_cloud_water,cwp,kg m-2,time,scene; cloud water only,1.0
40,atmosphere_mass_content_of_liquid_water,lwp,kg m-2,time,scene; cloud and rain,1.0
41,atmosphere_mass_content_of_rain_water,rwp,kg m-2,time,scene,1.0
42,number_of_total_aerosol_in_air,nt,kg-1,"time, height",NaN,1.0
43,number_of_dry_aerosol_in_air,na,kg-1,"time, height",NaN,1.0
44,number_of_cloud_droplets_in_air,nc,kg-1,"time, height",NaN,1.0
45,number_of_rain_droplets_in_air,nr,kg-1,"time, height",NaN,1.0
46,effective_radius_of_cloud_droplets,cer,m,"time, height",NaN,2.0
47,collection_rate_of_cloud_droplet_number,crnc,kg-1 s-1,"time, height",NaN,2.0
48,collection_rate_of_rain_droplet_number,crnr,kg-1 s-1,"time, height",NaN,2.0
49,collection_rate_of_cloud_water_mass,crql,s-1,"time, height",NaN,2.0
50,collection_rate_of_rain_water_mass,crqr,s-1,"time, height",NaN,2.0
51,rate_of_condensation,cond,s-1,"time, height",NaN,2.0
52,rate_of_evaporation,evap,s-1,"time, height",NaN,2.0
54,longwave_heating_rate_in_air,rlh,W kg-1,"time, height",NaN,1.0
55,shortwave_heating_rate_in_air,rsh,W kg-1,"time, height",NaN,1.0
56,longwave_heating_rate_in_air_assuming_clear_sky,rlhcs,W kg-1,"time, height",NaN,2.0
57,shortwave_heating_rate_in_air_assuming_clear_sky,rshcs,W kg-1,"time, height",NaN,2.0
58,downwelling_longwave_flux_in_air,rld,W m-2,"time, height",NaN,2.0
59,upwelling_longwave_flux_in_air,rlu,W m-2,"time, height",NaN,2.0
60,downwelling_shortwave_flux_in_air,rsd,W m-2,"time, height",NaN,2.0
61,upwelling_shortwave_flux_in_air,rsu,W m-2,"time, height",NaN,2.0
62,toa_incoming_shortwave_flux,rsdt,W m-2,time,NaN,1.0
63,toa_outgoing_shortwave_flux,rsut,W m-2,time,NaN,1.0
64,toa_outgoing_longwave_flux,rlut,W m-2,time,NaN,1.0
65,toa_outgoing_shortwave_flux_assuming_clear_sky,rsutcs,W m-2,time,NaN,1.0
66,toa_outgoing_longwave_flux_assuming_clear_sky,rlutcs,W m-2,time,NaN,1.0
67,surface_downwelling_longwave_flux,rlds,W m-2,time,NaN,2.0
68,surface_upwelling_longwave_flux,rlus,W m-2,time,NaN,2.0
69,surface_downwelling_shortwave_flux,rsds,W m-2,time,NaN,2.0
70,surface_upwelling_shortwave_flux,rsus,W m-2,time,NaN,2.0
71,surface_downwelling_longwave_flux_assuming_cle...,rldscs,W m-2,time,NaN,2.0
72,surface_upwelling_longwave_flux_assuming_clear...,rluscs,W m-2,time,NaN,2.0
73,surface_downwelling_shortwave_flux_assuming_cl...,rsdscs,W m-2,time,NaN,2.0
74,surface_upwelling_shortwave_flux_assuming_clea...,rsuscs,W m-2,time,NaN,2.0